<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/100pandasexercises1_4part.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.3.5'

In [5]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake' , 'cat', 'dog', 'dog'],
                    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
df = pd.DataFrame(data, index=labels)

In [10]:
df.shape

(10, 4)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [8]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [13]:
df.head(10)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [9]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [14]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [19]:
df.loc[:,["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [20]:
df[["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [24]:
df.loc[df.index[[3,4,8]],["animal","age"]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [27]:
df[df['visits']>2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [28]:
df[df["age"].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [29]:
df[(df["animal"]=="cat")&(df["age"]<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [30]:
df[df["age"].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [34]:
df.loc["f","age"]=1.5
df.loc["f"]

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

In [36]:
df["visits"].sum()

19

In [37]:
df.groupby("animal")["age"].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [40]:
df.groupby("priority")["age"].mean()

priority
no     3.583333
yes    2.750000
Name: age, dtype: float64

In [42]:
df.loc["k"]=[5.5,"dog","no",2]
df

  animal  age visits priority
a    cat  2.5      1      yes
b    cat  3.0      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog  5.0      2       no
f    cat  1.5      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog  7.0      2       no
j    dog  3.0      1       no
k    5.5  dog     no        2

In [44]:
df=df.drop("k")
df

KeyError: ignored

In [45]:
df["animal"].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [ ]:
df.sort_values(by=["age","visits"],ascending=[False,True])

In [47]:
df["priority"]=df["priority"].map({"yes":True,"no":False})
df

  animal  age visits priority
a    cat  2.5      1      NaN
b    cat  3.0      3      NaN
c  snake  0.5      2      NaN
d    dog  NaN      3      NaN
e    dog  5.0      2      NaN
f    cat  1.5      3      NaN
g  snake  4.5      1      NaN
h    cat  NaN      1      NaN
i    dog  7.0      2      NaN
j    dog  3.0      1      NaN

In [50]:
df["animal"]=df["animal"].replace("snake","python")
df

   animal  age visits priority
a     cat  2.5      1      NaN
b     cat  3.0      3      NaN
c  python  0.5      2      NaN
d     dog  NaN      3      NaN
e     dog  5.0      2      NaN
f     cat  1.5      3      NaN
g  python  4.5      1      NaN
h     cat  NaN      1      NaN
i     dog  7.0      2      NaN
j     dog  3.0      1      NaN

In [52]:
df.pivot_table(index="animal",columns="visits",values="age",aggfunc="mean")

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN