<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/DAwPy_S5_6_(Groupby%2CAggregation%2CDataFrame_Operations%2CPivot_Tables%2CStack)_empty_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 5</p><h1>

# Basic aggregation methods:

* ``count()``
* ``mean()``
* ``median()``
* ``min()``
* ``max()``
* ``std()``
* ``var()``
* ``sum()``
* ``idxmin()``
* ``idxmax()``
* ``corr()``

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(0,100,size=(7,5)),
                  columns=["x1","x2","x3","x4","x5"])
df

   x1  x2  x3  x4  x5
0  51  92  14  71  60
1  20  82  86  74  74
2  87  99  23   2  21
3  52   1  87  29  37
4   1  63  59  20  32
5  75  57  21  88  48
6  90  58  41  91  59

In [128]:
df.count()

x1    7
x2    7
x3    7
x4    7
x5    7
dtype: int64

In [129]:
df.x1.count()

7

In [130]:
df.mean()

x1    53.714286
x2    64.571429
x3    47.285714
x4    53.571429
x5    47.285714
dtype: float64

In [131]:
df.x2.mean()

64.57142857142857

In [132]:
df.median()

x1    52.0
x2    63.0
x3    41.0
x4    71.0
x5    48.0
dtype: float64

In [133]:
df.min()

x1     1
x2     1
x3    14
x4     2
x5    21
dtype: int64

In [134]:
df.idxmax()
#df.argmax() gives an error

x1    6
x2    2
x3    3
x4    6
x5    1
dtype: int64

In [135]:
df.x2.idxmax()

2

In [136]:
df.x2.argmax()

2

In [137]:
df.std()

x1    33.673502
x2    32.623392
x3    30.663302
x4    35.818325
x5    18.454577
dtype: float64

In [138]:
df[["x1","x2"]].std()

x1    33.673502
x2    32.623392
dtype: float64

In [139]:
df.var()

x1    1133.904762
x2    1064.285714
x3     940.238095
x4    1282.952381
x5     340.571429
dtype: float64

In [140]:
pd.DataFrame(df.var())

              0
x1  1133.904762
x2  1064.285714
x3   940.238095
x4  1282.952381
x5   340.571429

In [141]:
df.sum(axis=0)

x1    376
x2    452
x3    331
x4    375
x5    331
dtype: int64

In [142]:
df

   x1  x2  x3  x4  x5
0  51  92  14  71  60
1  20  82  86  74  74
2  87  99  23   2  21
3  52   1  87  29  37
4   1  63  59  20  32
5  75  57  21  88  48
6  90  58  41  91  59

In [143]:
df.sum(axis=1)

0    288
1    336
2    232
3    206
4    175
5    289
6    339
dtype: int64

# Groupby  & Aggregation

## DataFrame.groupby()

The ``groupby`` method allows you to group rows of data together and call aggregate functions

Now you can use the ``.groupby()`` method to group rows together based off of a column name. This will create a DataFrameGroupBy object:

In [144]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [145]:
df.groupby("species")

In [146]:
df.groupby("species").mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [147]:
df.groupby("species").describe()

           sepal_length                               ... petal_width
                  count   mean       std  min    25%  ...         min  25%  50%  75%  max
species                                               ...
setosa             50.0  5.006  0.352490  4.3  4.800  ...         0.1  0.2  0.2  0.3  0.6
versicolor         50.0  5.936  0.516171  4.9  5.600  ...         1.0  1.2  1.3  1.5  1.8
virginica          50.0  6.588  0.635880  4.9  6.225  ...         1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [148]:
df.groupby("species").describe().T

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.428000    2.770000   2.974000
             std     0.379064    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.200000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.462000    4.260000   5.552000
             std     0.173664    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.246000    1.326000   2.026000
             std     0.105386    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

In [149]:
df.groupby("species")["sepal_length"].sum()

species
setosa        250.3
versicolor    296.8
virginica     329.4
Name: sepal_length, dtype: float64

In [150]:
df.groupby("species")[["sepal_length"]].sum()

            sepal_length
species
setosa             250.3
versicolor         296.8
virginica          329.4

In [151]:
df.groupby("species")[["sepal_length", "sepal_width"]].sum()

            sepal_length  sepal_width
species
setosa             250.3        171.4
versicolor         296.8        138.5
virginica          329.4        148.7

In [152]:
data = {'Company':['GOOG', 'GOOG', 'MSFT', 'MSFT', 'GOOG', 'MSFT', 'GOOG', 'MSFT'],
        'Department':['HR', 'IT', 'IT', 'HR', 'HR', 'IT', 'IT', 'HR'],
        'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah', 'Tom', 'Terry'],
        'Age':[30, 28, 35, 40, 42, 25, 32, 48],
        'Sales':[200, 120, 340, 124, 243, 350, 180, 220]}

In [153]:
df1 = pd.DataFrame(data)
df1

  Company Department   Person  Age  Sales
0    GOOG         HR      Sam   30    200
1    GOOG         IT  Charlie   28    120
2    MSFT         IT      Amy   35    340
3    MSFT         HR  Vanessa   40    124
4    GOOG         HR     Carl   42    243
5    MSFT         IT    Sarah   25    350
6    GOOG         IT      Tom   32    180
7    MSFT         HR    Terry   48    220

In [154]:
df1.groupby("Company").mean()

          Age   Sales
Company
GOOG     33.0  185.75
MSFT     37.0  258.50

In [155]:
df1.groupby("Company")[["Sales"]].mean()

          Sales
Company
GOOG     185.75
MSFT     258.50

In [156]:
df1.groupby(["Company", "Department"]).mean()

                     Age  Sales
Company Department
GOOG    HR          36.0  221.5
        IT          30.0  150.0
MSFT    HR          44.0  172.0
        IT          30.0  345.0

In [157]:
df1.groupby(["Company", "Department"])[["Sales"]].mean()

                    Sales
Company Department
GOOG    HR          221.5
        IT          150.0
MSFT    HR          172.0
        IT          345.0

In [158]:
by_comp=df1.groupby("Company")

In [159]:
by_comp

In [160]:
by_comp.mean()

          Age   Sales
Company
GOOG     33.0  185.75
MSFT     37.0  258.50

# DataFrame/Series Operations

- ### `.aggregate()/agg()`
- ### `.filter()`
- ### `.transform()`
- ### `.apply()`
- ### `.applymap()`
- ### `.map()`
- ### `.pivot() & .pivot_table()`
- ### `.stack() & .unstack()`

## ``.aggregate()/agg()``

### DataFrame.agg()

In [3]:
df2 = pd.DataFrame({'groups': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
                   'var1': [10, 23, 33, 22, 11, 99, 76, 84, 45],
                   'var2': [100, 253, 333, 262, 111, 969, 405, 578, 760]})
df2

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    76   405
7      B    84   578
8      C    45   760

In [4]:
df2.agg([sum,min])

        groups  var1  var2
sum  ABCABCABC   403  3771
min          A    10   100

In [6]:
df2.agg(["sum","min"])

        groups  var1  var2
sum  ABCABCABC   403  3771
min          A    10   100

In [5]:
df2[["var1","var2"]].agg([sum,min])#""mumkun mertebe tirnak kullan

     var1  var2
sum   403  3771
min    10   100

In [165]:
df2.agg({"var1":[sum], "var2":[min]})#var1 in sumu var 2 nin min degerini getir istemedikleimi nan verir

      var1   var2
min    NaN  100.0
sum  403.0    NaN

In [166]:
df2.agg({"var1":[sum,np.mean], "var2":[min,max]})#birden fazala bir sutunda islem isterse

            var1   var2
max          NaN  969.0
mean   44.777778    NaN
min          NaN  100.0
sum   403.000000    NaN

### DataFrame.groupby().agg()

In [167]:
df2.groupby("groups").agg([np.mean,np.median,max])#genellikle grup vy agreagte birlikte oluyor kullaniyor
#grupslari grupluyor np mean median ve max sonra cagirdi
#tum a larin hepsine b sine csine yapti grupladiktan sonra

             var1                   var2
             mean median max        mean median  max
groups
A       36.000000     22  76  255.666667    262  405
B       39.333333     23  84  314.000000    253  578
C       59.000000     45  99  687.333333    760  969

In [168]:
df2.groupby("groups").agg({"var1":[min,"max"], "var2":"median"})#tek islem atamasinda sikinti yok 
#ama

       var1       var2
        min max median
groups
A        10  76    262
B        11  84    253
C        33  99    760

In [169]:
df2.groupby("groups")["var1"].agg([min,"max"])#sutun cekme islemi yapilmis

        min  max
groups
A        10   76
B        11   84
C        33   99

## .filter()

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html

https://www.sharpsightlabs.com/blog/pandas-filter/

### DataFrame.filter()

DataFrame.filter(items=None, like=None, regex=None, axis=None)

Subset the dataframe rows or columns according to the specified index labels.

Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index.

In [170]:
df2

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    76   405
7      B    84   578
8      C    45   760

In [171]:
df2.filter(["groups","var1"])
# df2[["groups","var1"]]

  groups  var1
0      A    10
1      B    23
2      C    33
3      A    22
4      B    11
5      C    99
6      A    76
7      B    84
8      C    45

In [172]:
df2.filter(regex="^var", axis=1)

   var1  var2
0    10   100
1    23   253
2    33   333
3    22   262
4    11   111
5    99   969
6    76   405
7    84   578
8    45   760

In [173]:
df2.filter(like="var", axis=1)

   var1  var2
0    10   100
1    23   253
2    33   333
3    22   262
4    11   111
5    99   969
6    76   405
7    84   578
8    45   760

In [7]:
df2.filter(like="5", axis=0)#basnda ve sonunda yuzde var gibi dusun.avar1 olsaydi getirmezdi
#icinde 5 gecen

  groups  var1  var2
5      C    99   969

### DataFrame.groupby().filter()

DataFrameGroupBy.filter(func, dropna=True, *args, **kwargs)

Return a copy of a DataFrame excluding filtered elements.

Elements from groups are filtered if they do not satisfy the boolean criterion specified by func.

In [175]:
df2.groups.unique()#df2 gruplandiri tekleri aliyor

array(['A', 'B', 'C'], dtype=object)

In [10]:
df2.groupby("groups").mean()

             var1        var2
groups
A       36.000000  255.666667
B       39.333333  314.000000
C       59.000000  687.333333

In [9]:
def filter_func(x):# a lar gelmedi cunku 39 dan kucuk hesaplamayi gruplandirarak yapyor
    return x["var1"].mean() > 39# tum satirlar bakcak filter icine fonk yazabilyordun

In [12]:
df2.groupby("groups").filter(filter_func)

  groups  var1  var2
1      B    23   253
2      C    33   333
4      B    11   111
5      C    99   969
7      B    84   578
8      C    45   760

In [13]:
  def filter_func(x):
      return x["var1"].mean() > 39

In [ ]:
df2.groupby("groups").filter(filter_func)

In [179]:
df2.groupby("groups").sum()

        var1  var2
groups
A        108   767
B        118   942
C        177  2062

In [180]:
df2.groupby("groups").filter(lambda x: x["var2"].sum()<800)

  groups  var1  var2
0      A    10   100
3      A    22   262
6      A    76   405

## .transform()

Python’s Transform function returns a self-produced dataframe with transformed values after applying the function specified in its parameter. This dataframe has the same length as the passed dataframe.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transform.html

https://www.analyticsvidhya.com/blog/2020/03/understanding-transform-function-python/

### DataFrame.transform()

DataFrame.transform(func, axis=0, *args, **kwargs)

Call func on self producing a DataFrame with the same axis shape as self.

In [181]:
df_num.transaform(lambda x :x+10)
#df_num+10

NameError: ignored

In [ ]:
df_num.transaform(lambda x :(x-x.mean())/x.std())#bu normalizasayon

In [ ]:
df_num-df_num.mean())/df_num.std()

In [ ]:
#bir df ile calisirken transform ck da matah degi; gerek degil

In [ ]:
df_num.var1.transform([np.sqrt,np.exp])

In [ ]:
#transform mantigi bir datayii al fonk uygula liste icinde yaz
#liste icine yazmak icin ya np.exp yada tirnak icinde yaz
#tirnak ici daha kesin

### DataFrame.groupby().transform()

DataFrameGroupBy.transform(func, *args, engine=None, engine_kwargs=None, **kwargs)

Call function producing a like-indexed DataFrame on each group and return a DataFrame having the same indexes as the original object filled with the transformed values.

In [ ]:
df2.groupby("groups")["var1"].transform("mean")

In [ ]:
df2.groupby("groups")["var1"].mean()

In [ ]:
df2["var1_mean_transform"] = df2.groupby("groups")["var1"].transform("mean")
df2

In [ ]:
df2["var2_median_transform"] = df2.groupby("groups")["var2"].transform("median")
df2

In [ ]:
#grup by agratgete ile kulanmamaya gore ayarli

In [ ]:
#dataframe gruplandir de
#transformda satir saysisi degismiyor
#transform satir saysi kadar islem yaopar

<h1><p style="text-align: center;">Pandas Lesson, Session - 6</p><h1>

## .apply()

### Series.apply() - df["col"].apply()

Series.apply(func, convert_dtype=True, args=(), **kwargs)

Invoke function on values of Series.

Can be ufunc (a NumPy function that applies to the entire Series) or a Python function that only works on single values.

In [ ]:
#tek bir sutuna apply

In [ ]:
#data frame uzerine apply
#data fram uzerine apply map olmak uzere 3 tane
#pply sutun sutun giderken apply map her bir sutunun elemanina islem yapar

In [ ]:
#msele x kare yazdin her bir elemana x kare uygular apply map

In [182]:
df_num.apply(lambda x:x *5)

NameError: ignored

In [ ]:
df_num.apply(lambda x: x*5)

In [ ]:
df_num* 5# 3 de ayni isi yapar

In [183]:
df_num.applymap(lambda x: len(str(x*5)))

NameError: ignored

In [ ]:
df_num.apply(lambda x: len(str(x*5)))#apply sacmalar yapmaz her bir elamana gir stringle carp yapmadi

In [ ]:
#apply map kullaanisli
#apply dataframeee asil yaptigi islemher sutunu alir x  sutun olmus olur
#carp var1 deyince yapti ama string deyince sabitti yapamadi
#ama apply map her bir satira bakiyor islem yapiyor
#bazen apply ve applymap  ayni gozuksede kullanim yerleri farkli
#dataframe her bir elamana islem yapacaksam apply map yapmalisin
#

In [ ]:
#map  ilgili seri icinde o serinin elamanlari atanan seyle degistirmeni saglar.
#mapi sadce seride apply map i sadece ddata framde kullanirim
#apply
#applymap
#serinin her bir elamanini atanan seyle degistiri

In [ ]:
df3 = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df3

In [ ]:
def squared(x):
    return x**2

In [ ]:
df["col1"].apply(squared)

In [ ]:
df3["col2"].apply(np.log)

In [ ]:
df3["col3"].apply(len)

In [ ]:
#kol 3 sec sunlari her bir satira uygula
#x in ilk elamani al sonra bunu 3 le carp
#hepsini ilk harf aldi 3le carpdi

In [ ]:
df3["col3"].apply(lambda x: x[0]*3)

In [ ]:
df3[“col2”].apply(lambda x :“high” if x>500 else “low”)

In [ ]:
#500 den buyukse haigh yoksa low yazdi sutuna gitti her birine oyle yapti

### DataFrame.apply()

DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)

Apply a function along an axis of the DataFrame.

In [ ]:
#serden sonra dataF uygulayalim

In [ ]:
df2 = df2.drop(columns=["var1_mean_transform", "var2_median_transform"], axis=1)

In [ ]:
df2.drop(["var1_mean_transform", "var2_median_transform"], axis=1, inplace=True)
df2

In [ ]:
df2.apply(np.sum)#hepsini birlestirdi concanade yaptirdi -0 her birsutunun satirlarini birbiriyle topla

In [ ]:
df2.apply(np.sum,axis=1)#hata verir

In [ ]:
df2.drop(["var1_mean_transform", "var2_median_transform"], axis=1, inplace=True)
df2

In [ ]:
df_num.apply(np.sum, axis=0)

In [ ]:
df_num.apply(np.sum, axis=1)#yan yana topladi

In [ ]:
df2.groupby("groups").mean()

In [ ]:
df2.groupby("groups").mean()#bir apply grup by uygulamak mantikli degil aynini veriyor 
#transformdan farki bu

### DataFrame.applymap()

DataFrame.applymap(func, na_action=None, **kwargs)

Apply a function to a Dataframe elementwise.

This method applies a function that accepts and returns a scalar to every element of a DataFrame.

applymap() is only available in DataFrame and used for element-wise operation across the whole DataFrame. It has been optimized and some cases work **much faster than apply()**

applymap() method only works on a pandas dataframe where function is applied on every element individually. apply() method can be applied both to series and dataframes where function can be applied both series and individual elements based on the type of function provided.

In [ ]:
#her bir elaman icin fonk uygular bu daha hizli yapiyor yoksa apply de ayni isi yapiyor

In [ ]:
#apply seride kullanilir ama apply map kullanilmaz serilerde

In [ ]:
df_num

## .map()
### Series.map() - df["col"].map()

Series.map(arg, na_action=None)

Map values of Series according to an input mapping or function.

Used for substituting each value in a Series with another value, that may be derived from a function, a dict or a Series.

Python's map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping. map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.

https://realpython.com/python-map-function/#:~:text=Python's%20map()%20is%20a,them%20into%20a%20new%20iterable.

The map() function is used to map values of Series according to input correspondence. Used for substituting each value in a Series with another value, that may be derived from a function, a dict or a Series.

map() accepts a dict or a Series. Values that are not found in the dict are converted to NaN, unless
the dict has a default value.

https://www.w3resource.com/pandas/series/series-map.php

In [184]:
df3

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
#df3 kendine uygulayaman col cekmen lazim

In [185]:
df3.col1.map({1:"1",2:"B"})#atanmayanlara non atar

0      1
1      B
2    NaN
3    NaN
Name: col1, dtype: object

In [186]:
s = pd.Series(['fox', 'cow', np.nan, 'dog'])
s

0    fox
1    cow
2    NaN
3    dog
dtype: object

In [187]:
s.map("I am a {}".format)

0    I am a fox
1    I am a cow
2    I am a nan
3    I am a dog
dtype: object

In [189]:
s.map("I am a {}".format,na_action="ignore")

0    I am a fox
1    I am a cow
2           NaN
3    I am a dog
dtype: object

- **apply()** is used to apply a function along an axis of the DataFrame or on values of Series.
- **applymap()** is used to apply a function to a DataFrame elementwise.
- **map()** is used to substitute each value in a Series with another value.

https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff#:~:text=apply()%20is%20used%20to,a%20Series%20with%20another%20value.

https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

## df.transform() vs df.apply()

- Both apply() and transform() can be used to manipulate the entire DataFrame.

- Both apply() and transform() support lambda expression.

- Both apply() and transform() can be used for manipulating a single column.

In [ ]:
#farklar transform :hepsinin yapabilin tirnakli,tirnaksiz fonklu
#applyda ise np min yazabilin.Fonku tam yazman lazim
#transfor agregate eden sonuc uretmez ayni uzunluktaveri ureti
#transform elementwise islem yapar
#transfrom ayni anda tek serie ile calisiri
#apply birden fazla serieyle calsir
#groupby dan sonrada 2 elaman gecerse trasform  calismaz
#groupby apply da a transform da. da calsiisr

In [ ]:
#transform ayni uzunlukta dataframe yolluyor missing valuede kullancez

In [190]:
df5 = pd.DataFrame({'A': [1,2,3], 'B': [10,20,30] })
df5

   A   B
0  1  10
1  2  20
2  3  30

In [192]:
df.apply(lambda x: x+10)

TypeError: ignored

In [193]:
df.transform(lambda x: x+10)

TypeError: ignored

In [194]:
df5['B_ap'] = df5['B'].apply(lambda x: x+10)
df5['B_tr'] = df5['B'].transform(lambda x: x+10)
df5#ikiside aynin yapar

   A   B  B_ap  B_tr
0  1  10    20    20
1  2  20    30    30
2  3  30    40    40

In [ ]:
#butun dataframe etki etmek icin kullanilir
#lamda ikiside destekler
#ikiside tek bir sutunu mapipule etmete kullanilir

### Differences between .apply() and .transform() when manupulating data
(1) transform() works with function, a string function, a list of functions, and a dict. However, apply() is only allowed with function.

(2) transform() cannot produce aggregated results.

(3) apply() works with multiple Series at a time. But, transform() is only allowed to work with a single Series at a time.

### Differences Between .apply() and .transform() when using them in conjunction with groupby()
(1) transform() returns a DataFrame that has the same length as the input

(2) apply() works with multiple Series at a time. But, transform() is only allowed to work with a single Series at a time.

In [195]:
df5=df5[["A","B"]]
df5

   A   B
0  1  10
1  2  20
2  3  30

In [196]:
df5.transform(np.sqrt)

          A         B
0  1.000000  3.162278
1  1.414214  4.472136
2  1.732051  5.477226

In [ ]:
df5.transform("sqrt")

In [ ]:
#df5.apply(np.sqrt)#hata verir

In [197]:
df5.apply(np.sqrt)

          A         B
0  1.000000  3.162278
1  1.414214  4.472136
2  1.732051  5.477226

In [198]:
df5.transform(np.sqrt)

          A         B
0  1.000000  3.162278
1  1.414214  4.472136
2  1.732051  5.477226

In [199]:
df5.apply(np.sqrt)#ikisinde de clisti

          A         B
0  1.000000  3.162278
1  1.414214  4.472136
2  1.732051  5.477226

In [ ]:
df5.transform(np.sqrt)

In [201]:
df5.transform([np.sqrt, np.exp])
#df5.apply([np.sqrt, np.exp])

          A                    B
       sqrt        exp      sqrt           exp
0  1.000000   2.718282  3.162278  2.202647e+04
1  1.414214   7.389056  4.472136  4.851652e+08
2  1.732051  20.085537  5.477226  1.068647e+13

In [200]:
#df5.transform([np.sqrt, np.exp])
df5.apply([np.sqrt, np.exp])#ikisnde de calisti

          A                    B
       sqrt        exp      sqrt           exp
0  1.000000   2.718282  3.162278  2.202647e+04
1  1.414214   7.389056  4.472136  4.851652e+08
2  1.732051  20.085537  5.477226  1.068647e+13

In [203]:
df5.transform({'A': np.sqrt, 'B': np.exp})
#df5.apply({'A': np.sqrt, 'B': np.exp})

          A             B
0  1.000000  2.202647e+04
1  1.414214  4.851652e+08
2  1.732051  1.068647e+13

In [202]:
#df5.transform({'A': np.sqrt, 'B': np.exp})
df5.apply({'A': np.sqrt, 'B': np.exp})#ikisinde de calisti

          A             B
0  1.000000  2.202647e+04
1  1.414214  4.851652e+08
2  1.732051  1.068647e+13

In [ ]:
#dict oldugunda da birden fazla sutun aliyor, kafasi neden karismiyor?cunku

#ayri islem gibi dusunuyor

In [204]:
df5.apply(lambda x: x.sum())
# df5.transform(lambda x:x.sum()) # gives an error
#cunku transform sutun bazinda islem yapiyor

A     6
B    60
dtype: int64

In [205]:
df5.transform(lambda x:x.sum())

ValueError: ignored

In [207]:
df5.apply(lambda x: x["B"]-x["A"], axis=1)
# df5.transform(lambda x: x["B"]-x["A"], axis=1) # gives an error

0     9
1    18
2    27
dtype: int64

In [ ]:
#iki sutunun oldugu islem apply calisirken transform yapmiypr

In [206]:
#df5.apply(lambda x: x["B"]-x["A"], axis=1)
df5.transform(lambda x: x["B"]-x["A"], axis=1) # gives an error

ValueError: ignored

In [ ]:
#transform ilgili dataframe eleman elaman gider
#ama aplly ilgili sutun row boyunca toplama yapay

In [208]:
df6 = pd.DataFrame({'key': ['a','b','c'] * 3,
                    'A': np.arange(9),
                    'B': [1,2,3] * 3})
df6

  key  A  B
0   a  0  1
1   b  1  2
2   c  2  3
3   a  3  1
4   b  4  2
5   c  5  3
6   a  6  1
7   b  7  2
8   c  8  3

In [210]:
df6.groupby("key")["A"].sum()#a sutunu bu gruplara gore sumunu gorem
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df6.groupby("key")["A"].apply(lambda x: x.sum())

In [211]:
df6.groupby("key")["A"].transform(lambda x: x.sum())

0     9
1    12
2    15
3     9
4    12
5    15
6     9
7    12
8    15
Name: A, dtype: int64

In [212]:
df6.groupby('key').apply(lambda x: x["B"]-x["A"])
# df6.groupby('key').transform(lambda x: x["B"]-x["A"]) # gives an error
#caliyor ama mantikli degil fark icin yaptik cok grup ile aplly kullanilmaz

key
a    0    1
     3   -2
     6   -5
b    1    1
     4   -2
     7   -5
c    2    1
     5   -2
     8   -5
dtype: int64

In [213]:
#df6.groupby('key').apply(lambda x: x["B"]-x["A"])
df6.groupby('key').transform(lambda x: x["B"]-x["A"]) # gives an error

#ayni anda iki seri kullanmaz

KeyError: ignored

In [ ]:
#eger df element element islem icin apply maap  kullanmaliyiz

In [ ]:
#data da sytyn sutun veya seride eleman eleman islem istiyorsak apply kullnmaliyiz
#grup bydan sonr agrupby bilgisien gore datfaram normal uzunlugunda cikti icin transform kullaniriz

# pivot() vs pivot_table()

- Pivot_table is a generalization of pivot that can handle duplicate values for one pivoted index/column pair.

- Pivot_table will only allow numeric types as "values=", whereas pivot will take string types as "values=".

- Pivot_table also supports using multiple columns for the index.

In [214]:
data = {'gender':['male', 'female', 'female', 'male', 'female', 'male'],
        'sport':['tennis', 'tennis', 'basketball', 'football', 'voleyball', 'basketball'],
        'status':["professional","professional","professional","amateur","amateur","amateur"],
        'age':[20, 24, 26, 23, 22, 21],
        'height':[185, 172, 175, 178, 182, 196],
        'weight':[83, 58, 62, 80, 65, 90]}
df7 = pd.DataFrame(data)
df7

   gender       sport        status  age  height  weight
0    male      tennis  professional   20     185      83
1  female      tennis  professional   24     172      58
2  female  basketball  professional   26     175      62
3    male    football       amateur   23     178      80
4  female   voleyball       amateur   22     182      65
5    male  basketball       amateur   21     196      90

In [215]:
df7.pivot_table(index='gender',
                columns='sport',
                values=['age'],
                aggfunc='mean')

              age
sport  basketball football tennis voleyball
gender
female       26.0      NaN   24.0      22.0
male         21.0     23.0   20.0       NaN

In [ ]:
#pivot ve pivot table var
#sutunlari satirlaro degistiyoruz pivotta
#elimdeki dataframe baska acilardan gormemi saglar
#pivot table ayni olan sutunlarda pivot kullanamam
#kesisime pivot bise yapamaz
#ayni eleamnlardan olusan datalarin meanleri koyuyo
#pivot agragation fonk kullanmaz
#ama pivot table agretion fon kullanir

In [ ]:
#pivot table pivotun gnellestirilmis hali
#agregate ile donduruyor
#dezavantaji
#pivot table sadce numaric ugrasir
#ama ppivot stringde de calisir

In [ ]:
#duplicate data yoksa ikiside ayni sonucu verir pivottda ptable ayni veirr
#ama dublicate varsa , fakrli sonuc verir
#pivot table agregate uygular verir
#pivot zaten index yazdirmiyor ama biseler yapiyor agregate de yapmiyor 
#satir satir ona karsilik gelen deger ne ise onu yazdiriyor
#yani duplicate data olan durumda pivot kullanilmaz

In [ ]:
#dataframe bakip karar verme columa yada indexse dikkat et 
# yani sadce senin indexse yazdigin satir sutuna yani silem yapacagin kisma bakcan

In [216]:
df7.pivot(index='gender',
          columns='sport',#pivot tda agretion fonk yok meanle sumla  ortalama ne alamiyor
          values=['age'])#ama pivot table agration fonk var

              age
sport  basketball football tennis voleyball
gender
female       26.0      NaN   24.0      22.0
male         21.0     23.0   20.0       NaN

In [218]:
df7.pivot(index='gender',
          columns='sport',
          values='status')#dikkat string pivot islem yaparken 
          #pivot table hata verir

sport     basketball football        tennis voleyball
gender
female  professional      NaN  professional   amateur
male         amateur  amateur  professional       NaN

In [217]:
df7.pivot_table(index='gender',
          columns='sport',#none da yazamassin
          values='status')#numarik yok ben kullanamam diyo neyi fonsiyonlucam diyo

DataError: ignored

In [219]:
df7.loc[2,"sport"] = "tennis"
df7#duplicasyon yaptik veriye

   gender       sport        status  age  height  weight
0    male      tennis  professional   20     185      83
1  female      tennis  professional   24     172      58
2  female      tennis  professional   26     175      62
3    male    football       amateur   23     178      80
4  female   voleyball       amateur   22     182      65
5    male  basketball       amateur   21     196      90

In [220]:
df7.pivot_table(index='gender',
                columns='sport',
                values=['age','height','weight'],
                aggfunc='mean')

              age                  ...   weight
sport  basketball football tennis  ... football tennis voleyball
gender                             ...
female        NaN      NaN   25.0  ...      NaN   60.0      65.0
male         21.0     23.0   20.0  ...     80.0   83.0       NaN

[2 rows x 12 columns]

In [ ]:
#bunu

In [222]:
df7.pivot(index='gender',#dublicate oldugu icin sekillendiremiyor diyor
                columns='sport',
                values=['age','height','weight'],
             )

ValueError: ignored

In [ ]:
#index kismi. kaldr .agrete kaldir calisir satir satir getiiror

In [223]:
df7.pivot(columns='sport',
                values=['age','height','weight'],
               )

             age                            ...     weight
sport basketball football tennis voleyball  ... basketball football tennis voleyball
0            NaN      NaN   20.0       NaN  ...        NaN      NaN   83.0       NaN
1            NaN      NaN   24.0       NaN  ...        NaN      NaN   58.0       NaN
2            NaN      NaN   26.0       NaN  ...        NaN      NaN   62.0       NaN
3            NaN     23.0    NaN       NaN  ...        NaN     80.0    NaN       NaN
4            NaN      NaN    NaN      22.0  ...        NaN      NaN    NaN      65.0
5           21.0      NaN    NaN       NaN  ...       90.0      NaN    NaN       NaN

[6 rows x 12 columns]

In [ ]:
df7.groupby(["gender","sport"]).mean()#gender ve sporta gore grup yapip meanlerini aldim

In [224]:
df7.pivot_table(index=['gender', 'sport'],
                values=['age','height','weight'],
                aggfunc='mean')#indexse gen spor koy colum kullanmad agg fonk olarakda mean kullan

                   age  height  weight
gender sport
female tennis       25   173.5      60
       voleyball    22   182.0      65
male   basketball   21   196.0      90
       football     23   178.0      80
       tennis       20   185.0      83

# .stack() & .unstack()

Reshaping the data using stack() function in pandas converts the data into stacked format .i.e. the column is stacked row wise. When more than one column header is present we can stack the specific column header by specified the level. unstack() function in pandas converts the data into unstacked format.

https://www.datasciencemadesimple.com/reshape-using-stack-unstack-function-pandas-python/

**why and when should use a stack() and unstack() methods?**

https://stackoverflow.com/questions/69139030/why-and-when-should-use-a-stack-and-unstack-methods

In [ ]:
#multi index multi columu olan durumda stak sutunlari indexe ceviir
#unstacde tam tersi indexleri sutuna ceviir

In [226]:
df7

   gender       sport        status  age  height  weight
0    male      tennis  professional   20     185      83
1  female      tennis  professional   24     172      58
2  female      tennis  professional   26     175      62
3    male    football       amateur   23     178      80
4  female   voleyball       amateur   22     182      65
5    male  basketball       amateur   21     196      90

In [227]:
df7["level"] = ["high", "high", "low", "high", "low", "low"]
df7

   gender       sport        status  age  height  weight level
0    male      tennis  professional   20     185      83  high
1  female      tennis  professional   24     172      58  high
2  female      tennis  professional   26     175      62   low
3    male    football       amateur   23     178      80  high
4  female   voleyball       amateur   22     182      65   low
5    male  basketball       amateur   21     196      90   low

In [ ]:
#pivot table ile yeni bir datafram degiistireyim

In [228]:
df8 = df7.pivot_table(index=['gender','sport'],
                columns=["status","level"],
                values=['age','height','weight'],
                aggfunc='mean')
df8

                      age                     ...  weight
status            amateur       professional  ... amateur professional
level                high   low         high  ...     low         high   low
gender sport                                  ...
female tennis         NaN   NaN         24.0  ...     NaN         58.0  62.0
       voleyball      NaN  22.0          NaN  ...    65.0          NaN   NaN
male   basketball     NaN  21.0          NaN  ...    90.0          NaN   NaN
       football      23.0   NaN          NaN  ...     NaN          NaN   NaN
       tennis         NaN   NaN         20.0  ...     NaN         83.0   NaN

[5 rows x 12 columns]

In [229]:
df8.stack()#sutundan indexse kaydirma yapar high low lari kaydiiri
#en alttakini index verdi

                            age               ...  weight
status                  amateur professional  ... amateur professional
gender sport      level                       ...
female tennis     high      NaN         24.0  ...     NaN         58.0
                  low       NaN         26.0  ...     NaN         62.0
       voleyball  low      22.0          NaN  ...    65.0          NaN
male   basketball low      21.0          NaN  ...    90.0          NaN
       football   high     23.0          NaN  ...    80.0          NaN
       tennis     high      NaN         20.0  ...     NaN         83.0

[6 rows x 6 columns]

In [230]:
df8.stack(level=1)#bunun icinde level diye bir paramatre var 
#levelin defaultu -1 ===>ager heeght weight 1.seviye
#statu amatu prof

                                 age       height        weight
level                           high   low   high    low   high   low
gender sport      status
female tennis     professional  24.0  26.0  172.0  175.0   58.0  62.0
       voleyball  amateur        NaN  22.0    NaN  182.0    NaN  65.0
male   basketball amateur        NaN  21.0    NaN  196.0    NaN  90.0
       football   amateur       23.0   NaN  178.0    NaN   80.0   NaN
       tennis     professional  20.0   NaN  185.0    NaN   83.0   NaN

In [231]:
df8.stack(level=2)

                            age               ...  weight
status                  amateur professional  ... amateur professional
gender sport      level                       ...
female tennis     high      NaN         24.0  ...     NaN         58.0
                  low       NaN         26.0  ...     NaN         62.0
       voleyball  low      22.0          NaN  ...    65.0          NaN
male   basketball low      21.0          NaN  ...    90.0          NaN
       football   high     23.0          NaN  ...    80.0          NaN
       tennis     high      NaN         20.0  ...     NaN         83.0

[6 rows x 6 columns]

In [ ]:
#1 yazinda 
#en dis bir bir alt 2
#-2 status
#0 da value degerlerini atar
#-3 de aynsini yapar
#en dis 0 ,1,2
#-1,-2,-3

In [ ]:
#unstackde gender o spor 1
#-1 gender spor 0

In [232]:
df8.stack().stack()

                                       age  height  weight
gender sport      level status
female tennis     high  professional  24.0   172.0    58.0
                  low   professional  26.0   175.0    62.0
       voleyball  low   amateur       22.0   182.0    65.0
male   basketball low   amateur       21.0   196.0    90.0
       football   high  amateur       23.0   178.0    80.0
       tennis     high  professional  20.0   185.0    83.0

In [235]:
df8.stack().stack().stack()

gender  sport       level  status
female  tennis      high   professional  age        24.0
                                         height    172.0
                                         weight     58.0
                    low    professional  age        26.0
                                         height    175.0
                                         weight     62.0
        voleyball   low    amateur       age        22.0
                                         height    182.0
                                         weight     65.0
male    basketball  low    amateur       age        21.0
                                         height    196.0
                                         weight     90.0
        football    high   amateur       age        23.0
                                         height    178.0
                                         weight     80.0
        tennis      high   professional  age        20.0
                                         height    185.0
                                         weight     83.0
dtype: float64

In [234]:
df8.stack(1)

                                 age       height        weight
level                           high   low   high    low   high   low
gender sport      status
female tennis     professional  24.0  26.0  172.0  175.0   58.0  62.0
       voleyball  amateur        NaN  22.0    NaN  182.0    NaN  65.0
male   basketball amateur        NaN  21.0    NaN  196.0    NaN  90.0
       football   amateur       23.0   NaN  178.0    NaN   80.0   NaN
       tennis     professional  20.0   NaN  185.0    NaN   83.0   NaN

In [ ]:
#unsstack
#sportalari alldi en alt kademye yerlestirdi en ice yerlestirdi

In [236]:
df.unstack()#-1 dafeault degeriicetkini disa cikartir

sepal_length  0            5.1
              1            4.9
              2            4.7
              3            4.6
              4              5
                       ...
species       145    virginica
              146    virginica
              147    virginica
              148    virginica
              149    virginica
Length: 750, dtype: object

In [237]:
df.unstack(level=1)

sepal_length  0            5.1
              1            4.9
              2            4.7
              3            4.6
              4              5
                       ...
species       145    virginica
              146    virginica
              147    virginica
              148    virginica
              149    virginica
Length: 750, dtype: object

In [238]:
df.unstack(level=0)

sepal_length  0            5.1
              1            4.9
              2            4.7
              3            4.6
              4              5
                       ...
species       145    virginica
              146    virginica
              147    virginica
              148    virginica
              149    virginica
Length: 750, dtype: object

In [240]:
stack = df8.stack(level = -3 ) # burayaa yazdığımız sayı . dıştan içe ( yukarıdan aşahıya) kolonların index numarasıdır.
white_check_mark
eyes
raised_hands

unstack = df8.unstack(level = 1) # unstackte yazdığımız sayı da kolonların dıştan içe( soldan sağa) index numaralarıdır.

NameError: ignored

In [ ]:
#tum nonelari tire verir

In [242]:
stack = df8.stack(level = -3 ) # burayaa yazdığımız sayı . dıştan içe ( yukarıdan aşahıya) kolonların index numarasıdır.

unstack = df8.unstack(level = 1) # unstackte yazdığımız sayı da kolonların dıştan içe( soldan sağa) index numaralarıdır.an içe( soldan sağa) index numaralarıdır.

In [ ]:
#fill hepsine degil arada bir tire atiyor