<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/OrionNotexcersi2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [14]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake'
, 'cat', 'dog', 'dog'], 
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']} 
 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
df[(df["animal"]=="cat")&(df["age"]<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [8]:
df[df["age"].between(2,3)]#bak 3 leride aldi

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [11]:
df.loc["age","f"]=1.5#ne yapti burdaa
df

    animal  age  visits priority  (age, f)    f
a      cat  2.5     1.0      yes       1.5  NaN
b      cat  3.0     3.0      yes       1.5  NaN
c    snake  0.5     2.0       no       1.5  NaN
d      dog  NaN     3.0      yes       1.5  NaN
e      dog  5.0     2.0       no       1.5  NaN
f      cat  2.0     3.0       no       1.5  NaN
g    snake  4.5     1.0       no       1.5  NaN
h      cat  NaN     1.0      yes       1.5  NaN
i      dog  7.0     2.0       no       1.5  NaN
j      dog  3.0     1.0       no       1.5  NaN
age    NaN  NaN     NaN      NaN       NaN  1.5

In [16]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [17]:
df.loc["f","age"]=1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [18]:
df["visits"].sum()

19

In [19]:
df.groupby("animal")["age"].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [21]:
df.loc["k"]=[5.5,"dog","no",2]
df

  animal  age visits priority
a    cat  2.5      1      yes
b    cat  3.0      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog  5.0      2       no
f    cat  1.5      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog  7.0      2       no
j    dog  3.0      1       no
k    5.5  dog     no        2

In [25]:
df=df.drop("k")

KeyError: ignored

In [26]:
df["animal"].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [29]:
df.sort_values(by=["age","visits"],ascending=[True,False])
#burda true falsin yenidenn datframe icinde olmsi degisik geldi

  animal  age visits priority
c  snake  0.5      2       no
f    cat  1.5      3       no
a    cat  2.5      1      yes
b    cat  3.0      3      yes
j    dog  3.0      1       no
g  snake  4.5      1       no
e    dog  5.0      2       no
i    dog  7.0      2       no
d    dog  NaN      3      yes
h    cat  NaN      1      yes

In [31]:
df["priority"]= df["priority"].map({"yes":True,"no":False})
df#neden true false yazmadi

  animal  age visits priority
a    cat  2.5      1      NaN
b    cat  3.0      3      NaN
c  snake  0.5      2      NaN
d    dog  NaN      3      NaN
e    dog  5.0      2      NaN
f    cat  1.5      3      NaN
g  snake  4.5      1      NaN
h    cat  NaN      1      NaN
i    dog  7.0      2      NaN
j    dog  3.0      1      NaN

In [34]:
df["animal"]=["animal"].replace("snake","python")

#bak bir df eksik diye ne diyor list gibi bakiyro

AttributeError: ignored

In [36]:
df["animal"]=df["animal"].replace("snake","python")
df

   animal  age visits priority
a     cat  2.5      1      NaN
b     cat  3.0      3      NaN
c  python  0.5      2      NaN
d     dog  NaN      3      NaN
e     dog  5.0      2      NaN
f     cat  1.5      3      NaN
g  python  4.5      1      NaN
h     cat  NaN      1      NaN
i     dog  7.0      2      NaN
j     dog  3.0      1      NaN

In [38]:
df["animal"]=df["animal"].replace("cat","kedi")
df

   animal  age visits priority
a    kedi  2.5      1      NaN
b    kedi  3.0      3      NaN
c  python  0.5      2      NaN
d     dog  NaN      3      NaN
e     dog  5.0      2      NaN
f    kedi  1.5      3      NaN
g  python  4.5      1      NaN
h    kedi  NaN      1      NaN
i     dog  7.0      2      NaN
j     dog  3.0      1      NaN

In [39]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')
#bu 21 ama sorusunu bile anlamdim

visits    1    2     3
animal
dog     3.0  6.0   NaN
kedi    2.5  NaN  2.25
python  4.5  0.5   NaN

In [40]:
df[df["animal"]=="kedi"]

  animal  age visits priority
a   kedi  2.5      1      NaN
b   kedi  3.0      3      NaN
f   kedi  1.5      3      NaN
h   kedi  NaN      1      NaN

In [44]:
df[df["visits"]==3]

  animal  age visits priority
b   kedi  3.0      3      NaN
d    dog  NaN      3      NaN
f   kedi  1.5      3      NaN

In [43]:
df[df["age"]==3.0]

  animal  age visits priority
b   kedi  3.0      3      NaN
j    dog  3.0      1      NaN

In [45]:
gdf = df.groupby("animal")

In [46]:
gdf["visits"].sum()

animal
dog       8
kedi      8
python    3
Name: visits, dtype: object

In [47]:
gdf["visits"].sum().sort_values()

animal
python    3
dog       8
kedi      8
Name: visits, dtype: object

In [48]:
gdf["visits"].sum().sort_values(ascending=False)

animal
dog       8
kedi      8
python    3
Name: visits, dtype: object