<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/Pandastrendas21min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bir veri analizi icin once verinin kullanima hazr hale getirilmesi lazim.
1.verideki eksik verileri ele alma
2.kategorik verileri ayarlama
3.veri tipini ayarlama islemleridir

In [4]:
import pandas as pd

In [5]:
vs = pd.read_csv("/content/drive/MyDrive/vgsales 2.csv")

Panda farki veri tipleriyle calisabilir
en cok kullanilanlar series va dataframe
series tek boyutludur
datafram 2 boyutlu dur satin ve sutundan olusur

Veri analiziiii

In [6]:
#verinin ilk bes satiri
vs.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [7]:
vs.tail()#son 5 satir

        Rank  ... Global_Sales
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[5 rows x 11 columns]

In [8]:
#verinin satur ve sutun sayisi
vs.shape

(16598, 11)

In [9]:
#veri setinin data tipi
vs.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [10]:
#eskik veriler isnull ile gorulur
vs.isnull()

        Rank   Name  Platform  ...  JP_Sales  Other_Sales  Global_Sales
0      False  False     False  ...     False        False         False
1      False  False     False  ...     False        False         False
2      False  False     False  ...     False        False         False
3      False  False     False  ...     False        False         False
4      False  False     False  ...     False        False         False
...      ...    ...       ...  ...       ...          ...           ...
16593  False  False     False  ...     False        False         False
16594  False  False     False  ...     False        False         False
16595  False  False     False  ...     False        False         False
16596  False  False     False  ...     False        False         False
16597  False  False     False  ...     False        False         False

[16598 rows x 11 columns]

In [11]:
vs.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [12]:
#pandas da 3 onemli veri yapisi vardir
#tablo dataframe yapsindadir
#dataframin her bir sutunu series yapisindadir
#index nesneleride diger veri yapisndadir

In [13]:
#bir sutuna ulasmak
vs.Year.head()

0    2006.0
1    1985.0
2    2008.0
3    2009.0
4    1996.0
Name: Year, dtype: float64

In [14]:
#sutun indexleri
vs.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [15]:
#istedigim sutunu secmek
vs["Year"].head()

0    2006.0
1    1985.0
2    2008.0
3    2009.0
4    1996.0
Name: Year, dtype: float64

In [16]:
#birden fazla sutun secmek icin 2 koseli parantez kullanilir
vs[["Year","Rank"]].head()

     Year  Rank
0  2006.0     1
1  1985.0     2
2  2008.0     3
3  2009.0     4
4  1996.0     5

sutun ismi degistirme:dictionary tipi kullanilir. sunun yerine sunu yazalim diye

In [17]:
vs.rename(columns={"Year":"Yil","Name":"Isim"}).head()

   Rank                      Isim Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [18]:
vs

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [19]:
#degisiligi kalici hale getirmek icin inplace true yapilir

In [20]:
vs.rename(columns={"Year":"Yil","Name":"Isim"},inplace=True)
vs

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

LOC ILOC
Loc komutunda satir ve sutun isimleri yazilarak secim yapilir
iloc istnilenlerin indexleri girilerek islem yapilir
**ilk parametre satiri ikinci paramtre sutunu ifade eder

In [21]:
vs.iloc[0]

Rank                     1
Isim            Wii Sports
Platform               Wii
Yil                 2006.0
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 0, dtype: object

In [22]:
vs.iloc[0,0]

1

In [23]:
#mesela 1.satirin 1,3, 5. sutun degerleri
vs.iloc[0[7,8,9]]

TypeError: ignored

In [ ]:
#dilimleme yapmak icin de : kullanilir
#burda veriler int olmali
vs.iloc[0:5[1,3,5]]

In [ ]:
#hem satur hem sutunda indexleyebiliriz
vs.iloc[0:5,0:5]

In [ ]:
#loc icin satir sutun isimleri giriyoruz
vs.loc[1,"Yil"]

In [ ]:
#burda da dilimleme islemi yapilir
vs.loc[1:5,"Isim":"Yil"]

In [ ]:
#butun degeleri eskik sutunlari silmek icin dropna kullanilir

In [ ]:
vs.shape

In [ ]:
vs.dropna(axis="columns",how="all").shape

In [ ]:
#stunda 1 tane eskik veri var ise
vs.dropna(axis="columns",how="any").shape
#2 sutun azaldi:)

In [31]:
vs.Name.counts()

AttributeError: ignored

In [27]:
vs.groupby("Platform").EU_Sales. value_counts()

Platform  EU_Sales
2600      0.02        37
          0.01        25
          0.03        25
          0.04        11
          0.05         8
                      ..
XOne      1.41         1
          1.53         1
          2.01         1
          2.09         1
          2.11         1
Name: EU_Sales, Length: 1627, dtype: int64

In [34]:
vs.Isim.str.slice(0,4)

0        Wii
1        Supe
2        Mari
3        Wii
4        Poke
         ...
16593    Wood
16594    Men
16595    SCOR
16596    Know
16597    Spir
Name: Isim, Length: 16598, dtype: object

In [35]:
vs.Isim.str.slice(0,4).value_counts()

The     714
Supe    180
NBA     179
Drag    165
Star    143
       ...
3D T      1
Beac      1
E·O·      1
Wate      1
Know      1
Name: Isim, Length: 2748, dtype: int64

In [36]:
connect= vs.Yil.str.cat(vs.zaman,sep=" ")

AttributeError: ignored